@model IEnumerable<Domain.Models.Post>
@{
    ViewData["Title"] = "Post Page";
}

<div class="text-center mb-3">
    <h1 class="display-4">Welcome to post index</h1>
    <p>You can use any control button</p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Create New</a>
</div>

<table class="table table-bordered">
    <thead class="table-light">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Tags</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var post in Model)
    {
        <tr>
            <td>@post.Id</td>
            <td>@post.Title</td>
            <td>
                @if (post.PostTags != null && post.PostTags.Any())
                {
                    foreach (var pt in post.PostTags)
                    {
                        <span class="badge bg-secondary me-1" style="border-radius:20px;">#@pt.tag.Name</span>
                    }
                }

            </td>
            <td>
                <button class="btn btn-sm btn-info" type="button" onclick="toggleDetails(@post.Id)">Details</button>
                <a class="btn btn-sm btn-secondary" href="@Url.Action("Update", new { id = post.Id })">Edit</a>
                <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", new { id = post.Id })">Delete</a>
            </td>
        </tr>
        <tr id="details-@post.Id" style="display:none;">
            <td colspan="4">
                <strong style="=max-width: 1296px;">Description:</strong> @post.Description
            </td>
        </tr>
    }
    </tbody>
</table>


<script>
    function toggleDetails(id) {
        var row = document.getElementById("details-" + id);
        if(row.style.display === "none") {
            row.style.display = "table-row";
        } else {
            row.style.display = "none";
        }
    }
</script>